<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Headmaster</title>
</head>
<body>



<form th:action="@{/saveHeadmaster}" method="post" th:object="${headmaster}">
    <input type="text" th:field=="${headmaster.firstName}" name="name" placeholder="headmaster first name"/>
    <input type="text" th:field=="${headmaster.lastName}" name="name" placeholder="headmaster last name"/> <p></p>
    <input type="text" th:field=="${headmaster.schoolName}" name="name" placeholder="School name"/>
    <input type="text" th:field=="${headmaster.schoolAddress}" name="name" placeholder="School address "/>




    <button type="submit">Save Headmaster</button>
</form>
</body>
</html>