<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View Headmaster</title>
    <link rel="stylesheet" th:href="@{../../css/panel.css}" />

</head>
<body>
    <div class="navbar">
        <a th:href = "@{/}" class="primary-button">🏠 Home </a> 
        <a th:href = "@{/logout}" class="primary-button">&#128272 Logout </a>
        <span>Admin</span>
      </div>

      <div class="container">


<table border="1" class = "headmaster-table">



    <thead>
    <tr>
        <th> Headmaster </th>
        <th> School Name </th>
        <th> School Address </th>
        <th> Username</th>
        <th> Email</th>

    </tr>

    </thead>



    <tbody>
    <tr th:each="headmaster : ${headmaster}">
        <td th:text="${headmaster.firstName}"></td>
        <td th:text="${headmaster.schoolName}"></td>
        <td th:text="${headmaster.schoolAddress}"></td>
        <td th:text="${headmaster.userProfile.username}"></td>
        <td th:text="${headmaster.email}"></td>

        <td>  <a th:href="@{/deleteHeadmaster}" class="delete-button" > Delete 🗑️  </a>
        <a th:href="@{/showFormForUpdateHeadmaster}" class="edit-button" > Update 📝</a>
        </td>
    </tr>
    </tbody>
</table>
</div>
</body>
</html>