<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Teacher</title>
</head>
<body>
<form th:action="@{/updateTeacher}" method="post" th:object="${teacher}">
    <input type="hidden" th:field="*{id}" />
    <input type="hidden" th:field="*{userProfile}" />


    <input type="text" th:field=="${teacher.firstName}" name="name" placeholder="teacher first name"/>
    <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></span>

    <input type="text" th:field=="${teacher.lastName}" name="name" placeholder="teacher last name"/>
    <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></span>


    <select th:field=="${teacher.course}">
        <option th:each="course : ${T(ElektronenDnevnik.entities.Course).values()}"
                th:value="${course}"
                th:text="${course}">
        </option>
    </select>

    <select th:field=="${teacher.year}">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
    </select>
    <button type="submit">Update Teacher</button>
</form>
</body>
</html>