<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mark Absent</title>
    <link rel="stylesheet" th:href="@{../css/panel.css}" />

</head>
<body>
    <div class="navbar">
        <a th:href = "@{/teacherMenu}" class="primary-button">⬅ Back</a>
        <a th:href = "@{/logout}" class="primary-button">&#128272 Logout </a>
        <span>Teacher</span>
      </div>


      <div class="container">
          <h1>Mark Absent</h1>
        <form action="#" th:action="@{/markAbsent}" th:object="${student}"
        method="POST">



      <input type="hidden" th:field="*{id}" />
      <input type="hidden" th:field="*{egn}" />
      <input type="hidden" th:field="*{firstName}" />
      <input type="hidden" th:field="*{lastName}" />
      <input type="hidden" th:field="*{year}" />
      <input type="hidden" th:field="*{parent}" />





      <input type="text" th:field="*{absences}" placeholder="Absences " id="Absences" />




      <button type="submit" class="submit">Save</button>






  </form>

      </div>


</body>
</html>