<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Teacher panel</title>
    <link rel="stylesheet" th:href="@{../css/panel.css}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>

            var id;

            function getId(id){
               this.id = id;
               console.log(id);
            }



        $(window).on('load',function(){

            $("#loading").hide()

          $('a[id="markAbsent"]').click(function(){
            $("#loading").fadeIn();
            $(".ajax").load("/showMarkAbsentForm/" + id);
            $("#loading").fadeOut();
            console.log(id);
          });

          $('a[id="newGrade"]').click(function(){
            $("#loading").fadeIn();
            $(".ajax").load("/showNewGradeForm/" + id);
            $("#loading").fadeOut();
            console.log(id);

          });

           $('a[id="viewGrade"]').click(function(){
            $("#loading").fadeIn();
            $(".ajax").load("/viewGrades/" + id);
            $("#loading").fadeOut(600);
            console.log(id);


          });
        });





    </script>
    </head>
    <body>
    <div class="navbar">
        <a th:href = "@{/showChangePasswordForm}" class="primary-button">🗝️ Change password</a> 
        <a th:href = "@{/logout}" class="primary-button">&#128272 Logout </a>
        <span>Teacher</span>
      </div>

    <div class="container"> 
        <table border="1" >

            <thead>
            <tr>
                <th> Student </th>
        
            </tr>
        
            </thead>
        
        
        
            <tbody>
            <tr th:each="student : ${studentList}" >
                <td th:text="${student.firstName}"></td>
                <td>
                    <a  id="markAbsent" th:attr="onclick=|getId('${student.id}')|"  > Mark Absent 📅</a>
                    <a  id="newGrade" th:attr="onclick=|getId('${student.id}')|" > New Grade 📝 </a>
                    <a  id="viewGrade" th:attr="onclick=|getId('${student.id}')|" > View Grades 🔢 </a>
        
        
                </td>
            </tr>
        
            </tbody>
        </table>


        <span id="loading">Loading...</span>

    <div class="ajax">
    </div>

    </div>





</body>
</html>