<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View Grades</title>
    <link rel="stylesheet" th:href="@{../css/panel.css}" />

</head>
<body>

    <div class="navbar">
        <a th:href = "@{/teacherMenu}" class="primary-button">⬅️ Back</a> 
        <a th:href = "@{/logout}" class="primary-button">&#128272 Logout </a>
        <span>Teacher</span>
      </div>

      <div class="container">
        <table border="1" class = "students-table">
            <thead>
            <tr>
                grade
            </tr>
        
            </thead>
        
            <tbody>
            <tr th:each="grades : ${gradesList}">
                <td th:text="${grades.grade}"></td>
                <td>
                    <a th:href="@{/deleteGrade/{id}(id=${grades.id})}" class="edit-button" >Delete Grade 🗑️ </a>
                </td>
        
            </tr>
            </tbody>
        </table>
        
      </div>


</body>
</html>