

      <div class="container">
        <table border="1" class = "students-table">
            <thead>

            </thead>
        
            <tbody>
            <tr th:each="grades : ${gradesList}">
                <td th:text="${grades.grade}"></td>
                <td>
                    <a th:href="@{/deleteGrade/{id}(id=${grades.id})}" class="delete-button" >Delete Grade 🗑️ </a>
                </td>
        
            </tr>
            </tbody>
        </table>
        
      </div>

