<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Change password</title>

</head>
<body>
<!-- success message -->
<div th:if="${param.success}" class="form-group">
    <div class="alert-info">Password changed!</div>
</div>
<!-- error message -->
<div th:if="${param.error}" class="form-group">
    <div class="alert-info">Password error!</div>
</div>

<form th:action="@{/changePassword}" method="post" th:object="${password}">
    <input type="text" th:field=="${password.oldPassword}" name="oldPassword" placeholder="Old Password"/>
    <input type="text" th:field=="${password.newPassword}" name="newPassword" placeholder="New Password"/>
    <button type="submit">Change Password</button>


</form>


<a th:href = "@{/success}" class="primary-button"> Back </a>

</body>
</html>